body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundraiser-item {
    border: 10px solid #928d8d;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 


